<app-control-label label="Data Binding">
  <div>Your name: {{ user.name }}</div>
  <div>Your name: {{ user.age }}</div>
</app-control-label>

<app-control-label label="Property binding">
  <input type="text" [value]="user.name" />
</app-control-label>

<app-control-label label="Event binding">
  <button (click)="showInfo()">Click me!</button>
</app-control-label>

<app-control-label label="Two-way binding">
  <div>Your name: {{ user.name }}</div>
  <input type="text" [(ngModel)]="user.name" />
</app-control-label>