<app-control-label label="Parent elements interact with child elements through local variables">
  <app-toggle #toggleComp></app-toggle>
  <button class="btn btn-primary btn-sm mt-2" (click)="toggleComp.toggle()">Toggle</button>
</app-control-label>

<app-control-label label="Form">
  <form #nameForm="ngForm">
    <input type="text" class="form-control" required [(ngModel)]="model.name" name="name" #name="ngModel" />
    <button class="btn btn-primary btn-sm mt-2">Submit</button>
  </form>
</app-control-label>

<app-control-label label="Parent class with ViewChild">
  <app-toggle #toggleComp1></app-toggle>
  <button class="btn btn-primary btn-sm mt-2" (click)="toggleInside()">Toggle inside class</button>
</app-control-label>

<app-control-label label="">
  <app-toggle></app-toggle>
  <app-toggle></app-toggle>
</app-control-label>