<app-control-label label="Use ngOnChanges function">
  <app-progress-bar [progress]="progress" [progress1]="progress1" [backgroundColor]="'#9e9e9e'"
    [progressColor]="'#22b964'">
  </app-progress-bar>
  <input class="form-control form-control-sm mt-2 wm-2" type="text" [(ngModel)]="progress" />
  <div>
    Progress value: {{progress}}
  </div>
</app-control-label>

<app-control-label label="Use getter/setter">
  <app-progress-bar [progress]="progress1" [progress1]="progress1" [backgroundColor]="'#9e9e9e'"
    [progressColor]="'#22b964'">
  </app-progress-bar>
  <input class="form-control form-control-sm mt-2 wm-2" type="text" [(ngModel)]="progress1" />
  <div>
    Progress value: {{progress1}}
  </div>
</app-control-label>