<p>passing-data-between-components works!</p>

<div>
  using ngOnChanges
  <app-progress-bar [progress]="progress" [progress1]="progress1" [backgroundColor]="'#9e9e9e'"
    [progressColor]="'#22b964'">
  </app-progress-bar>
  <input type="text" [(ngModel)]="progress" />
  <div>
    Progress value: {{progress}}
  </div>
</div>
<hr />
<div>
  using getter/setter
  <app-progress-bar [progress]="progress1" [progress1]="progress1" [backgroundColor]="'#9e9e9e'"
    [progressColor]="'#22b964'">
  </app-progress-bar>
  <input type="text" [(ngModel)]="progress1" />
  <div>
    Progress value: {{progress1}}
  </div>
</div>