<app-ch-tab-group>
  <app-ch-tab-panel title="Tab 1">
    <ng-template tabPanelContent>
      content tab 1
      <app-counter></app-counter>
    </ng-template>
  </app-ch-tab-panel>
  <app-ch-tab-panel title="Tab 2">
    <ng-template tabPanelContent>
      content tab 2
      <app-counter></app-counter>
    </ng-template>
  </app-ch-tab-panel>
  <app-ch-tab-panel title="Tab 3">
    <ng-template tabPanelContent>
      content tab 3
      <app-counter></app-counter>
    </ng-template>
  </app-ch-tab-panel>
</app-ch-tab-group>

<app-counter></app-counter>