<app-control-label label="Structure directive ngIf">
  <div>Hello there!</div>
  <div>Your name: {{ user.name }}</div>
  <div>Your age: {{ user.age }}</div>

  <div *ngIf="user.age >= 13">Bạn có thể xem nội dung PG-13</div>
  <div *ngIf="user.age < 13">Bạn không thể xem nội dung PG-13</div>
</app-control-label>

<app-control-label label="ngIf with ng-template">
  <div *ngIf="user.age >= 13; else noPG13">Bạn có thể xem nội dung PG-13</div>
</app-control-label>

<app-control-label label="ngIfElse with ng-template">
  <ng-template [ngIf]="user.age >= 13" [ngIfElse]="noPG13">
    <div>Bạn có thể xem nội dung PG-13</div>
  </ng-template>
</app-control-label>

<ng-template #noPG13>
  <div>Bạn không thể xem nội dung PG-13</div>
</ng-template>