/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: contents;
}

.wm-1 {
  max-width: 100px;
}

.wm-2 {
  max-width: 200px;
}

.wm-3 {
  max-width: 300px;
}

.wm-4 {
  max-width: 400px;
}

.wm-5 {
  max-width: 500px;
}